body{
    background: radial-gradient(#e5e5e5,#ffff,#e5e5e5);
}
.card{
    width: 10rem;
    
    
}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253)!important;
}
.card-body{
    padding: 3rem 0!important;
}
.card-text{
    font-size: .9rem;
    padding: 0.4rem 1.9rem;
}
.c1{
    padding-top: 6rem;
}
